1. Homework/2 Homework AI agent tool.json
{
  "name": "2 Homework",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 36
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2b5710c8-4ceb-4063-b941-fd98352a6c3b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://catfact.ninja/fact",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "d4e09aab-478b-42e4-a682-cec035be8bf7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=Send the fact:\"{{ $json.fact }}\" to the tool perplexity with a note : to expand the provided fact with more information from the internet.The output from perplexity tool you must send to my email:grozdan96@gmail.com. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "584543ef-e0b1-4584-b502-c1850864e5e6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        688,
        176
      ],
      "id": "e6ee3b8d-0acd-4983-855c-16bd33976c0d",
      "name": "Send a message in Gmail",
      "webhookId": "8a857495-0dd1-4058-852b-e4458c575b2b",
      "credentials": {
        "gmailOAuth2": {
          "id": "lOJlScTr4imxoEax",
          "name": "Gmail account - ENCORP ACADEMY - grozdan96@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxRetries": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ],
      "id": "dfa34839-df24-4ba4-9aba-df6fbc323bee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rtYnhKJipN8CRDXs",
          "name": "OpenAi account - ENCORP ACADEMY - grozdan96@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        496,
        352
      ],
      "id": "99903204-5d49-49d3-865c-d7b734f26d54",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        544
      ],
      "id": "6e9ae59d-f7bb-4211-b4c0-12468a72525a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UuYIAcunr7SoYOx9",
          "name": "OpenRouter - ENCORP ACADEMY - grozdan96@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "Create a workflow that every morning at 8:36 AM\nsends a request to https://catfact.ninja/fact and\nsends an email to you about an interesting cat fact.\nThe agent should expand the content provided by the\nfact with more information using the “perplexitysonar” model for searching in the internet.",
        "height": 128,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        256
      ],
      "typeVersion": 1,
      "id": "fbfce88d-08d3-4696-ada4-02f0dd61094d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f2c4720-5017-46cd-879d-fcfe5d8b8c86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59eb0af3fb6735ec12943a0d1d1a3430ac66222872d23238d58720c264209eda"
  },
  "id": "J97LOrVZFT3iwbaE",
  "tags": []
}