1. Homework/6 Homework.json
{
  "name": "6 Homework",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -32
      ],
      "id": "8000e67d-3714-4a21-b3b2-eba86c6a894b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/issues",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=repo:n8n-io/n8n type:issue created:>=2025-09-14"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -32
      ],
      "id": "10c89040-2324-47af-b46c-2fc075b130ac",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()[0].json.items.map(item=> ({\n    labels: item.labels.map(label => ({\n        description: label.description\n      })),\n    title: item.title,\n    body: item.body\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -32
      ],
      "id": "538797d0-898f-4d02-aa86-afded31cf02c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Each object in the array represents an issue from n8n github repository.Summarize each issue in 1-2 bullets. Summarize all issues and send an email including all summarizations.\nThis is the array data:\n{{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        -128
      ],
      "id": "8a2de057-2c18-4149-86da-89ea47f5ff27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        48
      ],
      "id": "a237cb1b-bad0-4c74-a731-4f43f3cc3570",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UuYIAcunr7SoYOx9",
          "name": "OpenRouter - ENCORP ACADEMY - grozdan96@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "grozdan96@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        544,
        48
      ],
      "id": "faa7d03d-2c2a-478d-b020-42a753d4b972",
      "name": "Send a message in Gmail",
      "webhookId": "b58ebf2e-ef3e-4718-b31e-3ff884f25987",
      "credentials": {
        "gmailOAuth2": {
          "id": "lOJlScTr4imxoEax",
          "name": "Gmail account - ENCORP ACADEMY - grozdan96@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7275355e-0f2a-48b5-97d3-61366dcfafd4",
              "leftValue": "={{ $json.labels.map(item => item.description).join(\"|\") }}",
              "rightValue": "=security",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f190fc20-27b9-4eb0-aa21-e24a7b83e774",
              "leftValue": "={{ $json.title }}",
              "rightValue": "security",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "adf48edf-57f4-4d96-b739-31a16f1009ad",
              "leftValue": "={{ $json.body }}",
              "rightValue": "security",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        240
      ],
      "id": "51fd380a-06fa-4cd0-931b-b46e76891364",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        160
      ],
      "id": "291ffb82-a5f1-405e-9cd5-2c2bb8f2eb4d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chatId": "6389689949",
        "text": "={{ $json.title }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        240
      ],
      "id": "8efb0478-e865-4c59-8df2-e57268f975e5",
      "name": "Send a text message",
      "webhookId": "7bd58b7c-2ba4-46e4-9bb5-3d264e0f3513",
      "credentials": {
        "telegramApi": {
          "id": "KBRS3j6QuJcPZ6BI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc19d0b8-04bd-46aa-95f4-d6d2eba54178",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59eb0af3fb6735ec12943a0d1d1a3430ac66222872d23238d58720c264209eda"
  },
  "id": "def68jxhxwUN32ib",
  "tags": []
}