4. Examples/RAG Metadata & DB Updates.json
{
  "name": "RAG Metadata & DB Updates",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "cba4bc71-d948-462a-8da9-3f398ee2d0ce",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "4s4sgzFP6rSAsuxT",
          "name": "dimitar-econt-mock"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Name: {{ $json.Name }}\nAge:{{ $json.Age }}\nGender: {{ $json.Gender }}\nDepartment: {{ $json.Department }}\nSalary: {{ $json.Salary }}\nLeave days:{{ $json['Leave days'] }}\nParking_spot:{{ $json['Parking spot'] }}\nEmail:{{ $json.Email }}\nStart_date: {{ $json['Start date'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "age",
                "value": "={{ $json.Age }}"
              },
              {
                "name": "start_date",
                "value": "={{ $json['Start date'] }}"
              },
              {
                "name": "leave_days",
                "value": "={{ $json['Leave days'] }}"
              },
              {
                "name": "salary",
                "value": "={{ $json.Salary }}"
              },
              {
                "name": "gender",
                "value": "={{ $json.Gender }}"
              },
              {
                "name": "person_id",
                "value": "={{$json['Person ID']}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        832,
        208
      ],
      "id": "86a4389c-1779-4c29-ad91-664d188baeb1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        -16
      ],
      "id": "120ef758-6970-47e0-8657-474d657d3dfc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1dWjmBzXa5VyJdjweFfW1dHn1jjopJ-ALGwgPGCBRy2k",
          "mode": "list",
          "cachedResultName": "EAIA RAG Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dWjmBzXa5VyJdjweFfW1dHn1jjopJ-ALGwgPGCBRy2k/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        -16
      ],
      "id": "54c881d2-2bc9-4880-8b05-66fca8cc6c04",
      "name": "Downloading the sheet",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6hU9EYS62jIhRmf",
          "name": "Dimitar EAI Academy"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        1088
      ],
      "id": "3c750875-ebe6-4cee-b440-53076b600110",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "employees_rag",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        736,
        -16
      ],
      "id": "30f4bdf4-4a6f-4f00-a652-c597194af8f4",
      "name": "Postgres PGVector Store1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "bVsywT7UbJq9jWMJ",
          "name": "Dimtar EAI Academy Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "## Upload document to RAG Workflow",
        "height": 672,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -128
      ],
      "typeVersion": 1,
      "id": "adadd53a-d88a-4b95-8fc7-d702964570de",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        928,
        416
      ],
      "id": "5bb4bee6-7f74-4c96-ab18-1259178d7aaa",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79631bf7-686b-4b4f-8e77-de56b60bc7fb",
              "name": "people_ids",
              "value": "[1, 2, 3]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        656
      ],
      "id": "84202243-fa37-47fb-b83c-7b0616cb089d",
      "name": "Set IDs",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "people_ids",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        736
      ],
      "id": "ac542c0f-34ea-4fdf-a2ce-afa884fe4b95",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM employees_rag\nWHERE metadata->>'person_id' = '{{ $json.people_ids }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        816
      ],
      "id": "32389eb5-c885-4791-92da-b21785b58a37",
      "name": "Delete by people_id",
      "credentials": {
        "postgres": {
          "id": "bVsywT7UbJq9jWMJ",
          "name": "Dimtar EAI Academy Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3001ddda-ff95-4f0e-90a4-f82b233784de",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        816
      ],
      "id": "52f6be8d-e7fa-447f-831b-68f6e6d69485",
      "name": "If people are deleted"
    },
    {
      "parameters": {
        "errorMessage": "Deletion failed!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1472,
        832
      ],
      "id": "9b783d87-88f1-4852-8144-adc3bdbf34b5",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        1232
      ],
      "id": "2f603914-8e82-4aef-8764-0048321bdaa3",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "4s4sgzFP6rSAsuxT",
          "name": "dimitar-econt-mock"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Name: {{ $('Merge').item.json.Name }}\nAge: {{ $('Merge').item.json.Age }}\nGender: {{ $('Merge').item.json.Gender }}\nDepartment: {{ $('Merge').item.json.Department }}\nSalary: {{ $('Merge').item.json.Salary }}\nLeave days:{{ $('Merge').item.json['Leave days'] }}\nParking_spot:{{ $('Merge').item.json['Parking spot'] }}\nEmail:{{ $('Merge').item.json.Email }}\nStart_date: {{ $('Merge').item.json['Start date'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "age",
                "value": "={{ $('Merge').item.json.Age }}"
              },
              {
                "name": "start_date",
                "value": "={{ $('Merge').item.json['Start date'] }}"
              },
              {
                "name": "leave_days",
                "value": "={{ $('Merge').item.json['Leave days'] }}"
              },
              {
                "name": "salary",
                "value": "={{ $('Merge').item.json.Salary }}"
              },
              {
                "name": "gender",
                "value": "={{ $('Merge').item.json.Gender }}"
              },
              {
                "name": "person_id",
                "value": "={{ $('Merge').item.json['Person ID'] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1008,
        1232
      ],
      "id": "34c1dfd4-7e49-4f46-a63c-6bbcfc0b7d1b",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        896
      ],
      "id": "e77f23f0-2a7b-4ca0-ba51-1c00286b1391",
      "name": "Extract from File1",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1dWjmBzXa5VyJdjweFfW1dHn1jjopJ-ALGwgPGCBRy2k",
          "mode": "list",
          "cachedResultName": "EAIA RAG Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dWjmBzXa5VyJdjweFfW1dHn1jjopJ-ALGwgPGCBRy2k/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        896
      ],
      "id": "e80793c6-cb10-4420-bebb-1a04bc69b958",
      "name": "Downloading the sheet1",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6hU9EYS62jIhRmf",
          "name": "Dimitar EAI Academy"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "employees_rag",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        912,
        1008
      ],
      "id": "559936e6-d51b-4a2f-af17-b518e9b83f53",
      "name": "Postgres PGVector Store2",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "bVsywT7UbJq9jWMJ",
          "name": "Dimtar EAI Academy Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1104,
        1440
      ],
      "id": "078eb138-c4ee-491f-bbc0-95f08cd9f6be",
      "name": "Token Splitter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        816
      ],
      "id": "92f17c63-60b2-4d43-aead-c22edc34666c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "people_ids",
              "field2": "Person ID"
            }
          ]
        },
        "options": {
          "fuzzyCompare": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        816
      ],
      "id": "05224345-2274-4c77-9d11-b6959464d3bd",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        64,
        784
      ],
      "id": "a5aa6cb6-985e-4b2e-ae57-0d1a60ff1063",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## RAG Update single items",
        "height": 944,
        "width": 1712,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        624
      ],
      "typeVersion": 1,
      "id": "88dddcd5-4bef-4fe2-a0d7-ea7c7200f30f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1dWjmBzXa5VyJdjweFfW1dHn1jjopJ-ALGwgPGCBRy2k",
          "mode": "list",
          "cachedResultName": "EAIA RAG Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dWjmBzXa5VyJdjweFfW1dHn1jjopJ-ALGwgPGCBRy2k/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        1728
      ],
      "id": "95892495-658e-437d-8867-16be82bb3a3f",
      "name": "Downloading the sheet3",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6hU9EYS62jIhRmf",
          "name": "Dimitar EAI Academy"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        256,
        1728
      ],
      "id": "98d52672-9c9c-4b29-bf72-d2f0f5919553",
      "name": "Extract from File2",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "employees_rag_swap",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        464,
        1728
      ],
      "id": "61cbf9cb-fcc0-40d1-9b76-2c44687c003b",
      "name": "PG Vector Store",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "bVsywT7UbJq9jWMJ",
          "name": "Dimtar EAI Academy Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        1920
      ],
      "id": "0e0b0e01-47ec-4887-a8ff-e313a1a6509a",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "4s4sgzFP6rSAsuxT",
          "name": "dimitar-econt-mock"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\nDO $$\nBEGIN\n  EXECUTE format(\n    'ALTER TABLE employees_rag RENAME TO %I',\n    'archive_employees_rag_' || to_char(current_timestamp, 'YYYYMMDD_HH24MI')\n  );\nEND;\n$$;\n\nALTER TABLE employees_rag_swap RENAME TO employees_rag;\nCREATE TABLE employees_rag_swap (\n    id SERIAL PRIMARY KEY,\n    text TEXT NOT NULL,\n    metadata JSONB,\n    created_at TIMESTAMP DEFAULT NOW(),\n    embedding VECTOR(768)\n);\nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        1728
      ],
      "id": "b62e422f-1d5a-492a-94ec-12f1490dee4d",
      "name": "Update & Archive RAG table",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "bVsywT7UbJq9jWMJ",
          "name": "Dimtar EAI Academy Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Name: {{ $('Extract from File2').item.json.Name }}\nAge: {{ $('Extract from File2').item.json.Age }}\nGender: {{ $('Extract from File2').item.json.Gender }}\nDepartment: {{ $('Extract from File2').item.json.Department }}\nSalary: {{ $('Extract from File2').item.json.Salary }}\nLeave days:{{ $('Extract from File2').item.json['Leave days'] }}\nParking_spot:{{ $('Extract from File2').item.json['Parking spot'] }}\nEmail:{{ $('Extract from File2').item.json.Email }}\nStart_date: {{ $('Extract from File2').item.json['Start date'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "age",
                "value": "={{ $('Extract from File2').item.json.Age }}"
              },
              {
                "name": "start_date",
                "value": "={{ $('Extract from File2').item.json['Start date'] }}"
              },
              {
                "name": "leave_days",
                "value": "={{ $('Extract from File2').item.json['Leave days'] }}"
              },
              {
                "name": "salary",
                "value": "={{ $('Extract from File2').item.json.Salary }}"
              },
              {
                "name": "gender",
                "value": "={{ $('Extract from File2').item.json.Gender }}"
              },
              {
                "name": "person_id",
                "value": "={{ $('Extract from File2').item.json['Person ID'] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        576,
        1920
      ],
      "id": "18a4c375-5373-4540-b54c-1298c7eb968d",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        672,
        2128
      ],
      "id": "9184aaa9-3dbe-410b-add7-17a5a4372e0d",
      "name": "Token Splitter3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        1728
      ],
      "id": "c2eeb51d-f1db-43e1-ad6e-460336d09199",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Update RAG & Archive\n",
        "height": 640,
        "width": 1280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        1632
      ],
      "typeVersion": 1,
      "id": "c9b1d466-fe82-4664-b4a8-f37965b04f39",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        1328
      ],
      "id": "a2a4f032-c098-4a7b-a047-decb20e05ca0",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        1488
      ],
      "id": "dc5caf0a-8fa8-4c94-8c42-2bb28a3e5bfd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6hU9EYS62jIhRmf",
          "name": "Dimitar EAI Academy"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        1664
      ],
      "id": "133499ff-9344-4d1a-a79a-eff159510d3c",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q6hU9EYS62jIhRmf",
          "name": "Dimitar EAI Academy"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Downloading the sheet": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set IDs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete by people_id": {
      "main": [
        [
          {
            "node": "If people are deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If people are deleted": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Downloading the sheet1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Delete by people_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Set IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Downloading the sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Downloading the sheet3": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "PG Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "PG Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "PG Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update & Archive RAG table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Sofia",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "96986d91-20a5-4137-8ebe-8396def82ea1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b77dabf6320328894a0cb180953e29d5c24a5a1a7c0ad6830175b3d197fddb73"
  },
  "id": "UX79LnXeOSTRZWuL",
  "tags": []
}